.new-purchase-form {
	display: flex;
	flex-direction: column;
	margin: 2em;
	padding: 2em;
	padding-bottom: 6em;
	box-shadow: 0 0 .5em rgb(200, 200, 200);
	border-radius: 8px;
	position: relative;
}

.new-purchase-form-desc-box {
	display: flex;
	justify-content: space-between;
	margin: .5em;
}

.new-purchase-form-desc-title {
	font-weight: bold;
	font-size: 1.2em;
}

.new-purchase-form-submit-btn {
	position: absolute;
	right: 2em;
	bottom: 1.5em;
}