.ingredient-create-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 500px;
	width: 100%;
	margin: auto;
	padding: 2em;
}

.new-ingredient-section-title {
	margin: .1em;
	font-size: 4em;
}

.ingredient-create-form-input-group {
	width: 80%;
	margin: auto;
	padding: 1em;
}
.ingredient-create-form-input-group label:first-child {
	color: rgb(47, 47, 47);
	font-weight: bold;
	font-size: 1.4em;
}

.ingredient-create-form input[type="text"], .ingredient-create-form input[type="number"] {
	width: 100%;
	padding: .5em;
	box-shadow: 0 0 .4em rgb(174, 174, 174);
	border-radius: 5px;
	border: none;
	border-bottom: 2px solid transparent;
	font-size: 1.1em;
	transition: .3s;
}
.ingredient-create-form input[type="text"]:focus, .ingredient-create-form input[type="number"]:focus {
	box-shadow: 0 0 .1em #ff5050;
	border-bottom: 2px solid #ff5050ca;
	outline: none;
}

.ingredient-create-form input[type="radio"], .ingredient-create-form label {
	cursor: pointer;
}

.ingredient-create-form input[type="submit"] {
	width: fit-content;
	padding: .6em 3em;
	margin: 2em auto;
	background-color: #ff5050;
	box-shadow: 0 0 .7em #ff5050;
	border: 2px solid transparent;
	color: white;
	border-radius: 8px;
	font-weight: bold;
	font-size: 1em;
	transition: .3s;
}

.ingredient-create-form input[type="submit"]:hover {
	background-color: transparent;
	border: 2px solid #ff5050;
	color: #ff5050;
	cursor: pointer;
}

.add-ingredient-form-radio-box {
	display: flex;
	align-items: center;
	padding: .3em;
	gap: .5em;
}

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  width: 1.15em;
  height: 1.15em;
	box-shadow: 0 0 .4em rgb(71, 71, 71);
  border-radius: 50%;
	transition: .4s;
}

input[type="radio"]:checked {
	background-color: #ff5050;
	box-shadow: 0 0 .4em #ff5050;
}
