{% extends "base.html" %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'styles/ingredient_create_form.css' %}"
/>
{% endblock %} {% block content %}
<h1>New ingredient</h1>
<form class="ingredient-create-form" action="" method="POST">
  {% csrf_token %}
  <div class="ingredient-create-form-input-group">
    <label for="name">Name</label>
    <br />
    <input type="text" id="name" name="name" maxlength="100" required />
    <br />
  </div>

  <div class="ingredient-create-form-input-group">
    <label>Unit</label>
    <br />
    <input type="radio" id="ml" name="unit" max="10" value="ml" />
    <label for="ml">ml</label>
    <br />
    <input type="radio" id="g" name="unit" max="10" value="g" />
    <label for="g">g</label>
    <br />
    <input type="radio" id="piece" name="unit" max="10" value="piece" />
    <label for="piece">piece</label>
    <br />
  </div>

  <div class="ingredient-create-form-input-group">
    <label for="amount">Amount</label>
    <br />
    <input type="number" id="amount" name="amount" step="1" required />
    <br />
  </div>

  <input type="submit" />
</form>
{% endblock %}
