@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Work Sans", sans-serif;
}

.content {
	max-width: 1000px;
	margin: auto;
}