@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Work Sans", sans-serif;
}
button {
	border-radius: 8px;
	cursor: pointer;
}
a {
	text-decoration: none;
}

.content {
	display: flex;
	flex-direction: column;
}

::-webkit-scrollbar-thumb {
  background: #dedede;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
	background: #efefef;
	border-radius: 15px;
}

::-webkit-scrollbar {
  width: 10px;
}

hr {
	border: 1px solid rgba(0, 0, 0, 0.769);
	box-shadow: 0 0 .1em black;
	border-radius: 10px;
}

.section-title {
	margin: .1em;
	font-size: 4em;
}

section {
	padding: 4em;
	width: 100%;
	max-width: 1000px;
	margin: auto;
}