@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Work Sans", sans-serif;
}

/* BUTTONS */
.btn {
	border-radius: 8px;
	width: fit-content;
	padding: .6em 3em;
	font-weight: bold;
	font-size: 1em;
	transition: .3s;
	cursor: pointer;
}

.btn-transparent-red {
	padding: .4em 1em;
	background-color: transparent;
	border: 2px solid transparent;
	color: #ff5050;
}
.btn-transparent-red:hover {
	border: 2px solid #ff5050;
}

.btn-transparent-black {
	padding: .4em 1em;
	background-color: transparent;
	border: 2px solid transparent;
	color: #464646;
}

.btn-transparent-black:hover {
	border: 2px solid #464646;
}

.btn-red {
	background-color: #ff5050;
	box-shadow: 0 0 .7em #ff5050;
	border: 2px solid transparent;
	color: white;
	border-radius: 8px;
}

.btn-red:hover {
	background-color: transparent;
	border: 2px solid #ff5050;
	color: #ff5050;
}

.btn-black {
	background-color: #464646;
	box-shadow: 0 0 .3em #464646;
	border: 2px solid #464646;
	color: white;
}
.btn-black:hover {
	background-color: transparent;
	box-shadow: none;
	border: 2px solid #464646;
	color: #464646;
}
.btn-border-black {
	background-color: transparent;
	box-shadow: none;
	border: 2px solid #464646;
	color: #464646;
}
.btn-border-black:hover {
	background-color: #464646;
	box-shadow: 0 0 .3em #464646;
	border: 2px solid #464646;
	color: white;
}
.btn-border-red {
	background-color: transparent;
	box-shadow: none;
	border: 2px solid #ff5050;
	color: #ff5050;
}
.btn-border-red:hover {
	background-color: #ff5050;
	box-shadow: 0 0 .3em #ff5050;
	border: 2px solid #ff5050;
	color: white;
}

a {
	text-decoration: none;
	color: black;
}

.content {
	display: flex;
	flex-direction: column;
}

::-webkit-scrollbar-thumb {
  background: #dedede;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
	background: #efefef;
	border-radius: 15px;
}

::-webkit-scrollbar {
  width: 10px;
}

hr {
	border: 1px solid rgba(0, 0, 0, 0.769);
	box-shadow: 0 0 .1em black;
	border-radius: 10px;
}

.section-title {
	margin: .1em;
	font-size: 4em;
}

section {
	padding: 4em;
	width: 100%;
	max-width: 1000px;
	margin: auto;
}


input[type="text"], input[type="number"], textarea {
	width: 100%;
	padding: .5em;
	box-shadow: 0 0 .5em rgb(174, 174, 174);
	border-radius: 5px;
	border: none;
	border-bottom: 2px solid transparent;
	font-size: 1.1em;
	transition: .3s;
}
input[type="text"]:focus, input[type="number"]:focus, textarea:focus {
	box-shadow: 0 0 .3em #ff5050;
	border-bottom: 2px solid #ff5050ca;
	outline: none;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 500px;
	width: 100%;
	margin: auto;
	padding: 2em;
}

.form-input-group {
	width: 80%;
	margin: auto;
	padding: 1em;
}
.form-input-group label:first-child {
	color: rgb(47, 47, 47);
	font-weight: bold;
	font-size: 1.4em;
}

.form input[type="radio"], .form label {
	cursor: pointer;
}

.form-radio-box {
	display: flex;
	align-items: center;
	padding: .3em;
	gap: .5em;
}

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  width: 1.15em;
  height: 1.15em;
	box-shadow: 0 0 .4em rgb(71, 71, 71);
  border-radius: 50%;
	transition: .4s;
}

input[type="radio"]:checked {
	background-color: #ff5050;
	box-shadow: 0 0 .4em #ff5050;
}
