.inventory {
	display: flex;
	flex-direction: column;
	padding: 4em;
}

.inventory-section-title {
	margin: .1em;
	font-size: 4em;
}

hr {
	border: 1px solid rgba(0, 0, 0, 0.769);
	box-shadow: 0 0 .1em black;
	border-radius: 10px;
}

.ingredients-list {
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: 80%;
	margin: 1em auto;
}

.ingredient {
	padding: 1em;
	background-color: rgb(250, 250, 250);
	box-shadow: 0 0 .3em rgb(205, 205, 205);
	border-radius: 8px;
	list-style: none;
	font-size: 1.2em;
}