.inventory {
	display: flex;
	flex-direction: column;
	padding: 4em;
}

.inventory-section-title {
	margin: .1em;
	font-size: 4em;
}

hr {
	border: 1px solid rgba(0, 0, 0, 0.769);
	box-shadow: 0 0 .1em black;
	border-radius: 10px;
}

.add-ingredient-button {
	padding: .6em 1.6em;
	margin: auto;
	border: 2px solid rgb(255, 80, 80);
	border-radius: 8px;
	color: rgb(255, 80, 80);
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	transition: .3s;
}
.add-ingredient-button:hover {
	background-color: rgb(255, 80, 80);
	box-shadow: 0 0 .3em rgb(255, 80, 80);
	color: white;
	cursor: pointer;
}