{% extends "base.html" %} 
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'styles/menu/menu.css' %}" />
{% endblock %} 

{% block content %}
<section class="menu-section">
  <h1 class="section-title">DELETE ITEM</h1>
	<hr />

	<div class="menu-item-list">
		{% for menu_item in menu_items %} 
			<div class="menu-item">
				<div class="menu-item-name">{{ menu_item.name }}</div>
				<div class="menu-item-ingredient-list">{{ menu_item.ingredient_list }}</div>
				<div class="menu-item-price">{{ menu_item.price }}$</div>
				<a class="btn btn-transparent-red menu-item-purchase-btn" href="{% url 'menu_item_delete_confirm' menu_item.id %}">DELETE</a>
			</div>
		{% endfor %}
	</div>
</section>
{% endblock %}
