.menu-section {
	position: relative;
}

.menu-btn {
	position: absolute;
	top: 6.85em;
	padding: .7em 1.7em;
	box-shadow: 0 0 .3em rgba(0, 0, 0, 0.769);
	border: 2px solid rgba(0, 0, 0, 0.769);
	border-radius: 8px 8px 0 0;
	border-bottom: none;
	font-weight: bold;
	transition: .3s;
}
.menu-btn:hover {
	background-color: rgba(0, 0, 0, 0.769);
	color: white;
}

.new-menu-item-btn {
	right: 4em;
}

.delete-menu-item-btn {
	right: 15em;
}

.menu-item-list {
	display: flex;
	flex-direction: column;
	margin-top: 2em;
}

.menu-item {
	position: relative;
	width: 90%;
	box-shadow: 0 0 .5em rgb(198, 198, 198);
	border-radius: 8px;
	padding: 1em;
	margin: .5em auto;
}

.menu-item-ingredient-list {
	margin-top: .5em;
	color: gray;
}

.menu-item-name {
	font-weight: bold;
	font-size: 1.2em;
}

.menu-item-price {
	position: absolute;
	top: .5em;
	right: .5em;
	font-size: 1.2em;
}

.menu-item-purchase-btn {
	position: absolute;
	right: .5em;
	bottom: .5em;
	font-size: .9em;
}
.menu-item-purchase-btn:hover {
	transform: translateY(-5px);
}